@import url('//fonts.googleapis.com/css?family=Bevan');
@import url('//fonts.googleapis.com/css?family=Oleo+Script');

body {
    font-family: "helvetica neue", verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: url(../img/body_background.png);

}
.wrap {
    width: 850px;
    margin: 0 auto;
    padding-top: 30px;
}

a {
    color: #279c64;
    text-decoration: underline;
}

a:hover {
    color: #166f44;
}

.header {
    background: url(../img/header_background.png) repeat-x;
    height: 400px;
}

.header_wrap {
    width: 750px;
    margin: 0 auto;
    padding-top: 20px;
}

.header h1 {
    background: url(../img/h1_background.png) no-repeat;
    font-family: bevan;
    color: #ffd700; /* text color */
    font-family: "Bevan";
    font-size: 35px;
    text-shadow: 0 3px 3px rgba(0,0,0,.25); /* drop shadow */
    text-indent: 160px;
    padding: 10px 0;
    margin: 0 auto;
    width: 800px;
    margin-bottom: 10px;
}

.header p {
    color: #fff; /* text color */
    font-family: "Palatino", "Times New Roman", serif;
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
}
.superfluous_globe {
    background: url(../img/globe.png) no-repeat;
    width: 325px;
    height: 298px;
    margin: 0 auto;
    margin-top: -30px;
}


.focus {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #e4e4e4; /* layer fill content */
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.47); /* drop shadow */
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.47); /* drop shadow */
    box-shadow: 0 5px 15px rgba(0,0,0,.47); /* drop shadow */
    background: url(../img/focus.png);
    width: 930px;
    height: 240px;
    margin: 0 auto;
    margin-top: -40px;
}

.focus p {
    color: #262626; /* text color */
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.75); /* drop shadow */
    text-align: center;
    margin: 0 100px;
    padding-top: 30px;
}

.focus form {
    padding: 10px 0 0 70px;
}

.focus input,
.focus button {
    display: inline-block;
    float: left;
    border: 1px solid #afafaf; /* stroke */
    background-color: #fff; /* layer fill content */
    font-size: 16px;
    padding: 9px;
    margin: 0;
}

.focus input.error{
    border-color: red;
    color: red;
}
    .focus input.error::-webkit-input-placeholder {
        color: red;
    }
    .focus input.error:-moz-placeholder {
        color: red;
    }
    .focus input.error:-ms-input-placeholder {
        color: red;
    }

.focus button {
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #13a767; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4ODM0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwODgzNGQiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxM2E3NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #08834d 0%, #08834d 0.76%, #13a767 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #08834d 0%, #08834d 0.76%, #13a767 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #08834d 0%, #08834d 0.76%, #13a767 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #08834d 0%, #08834d 0.76%, #13a767 100%); /* gradient overlay */
    color: #fff; /* text color */
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    position: relative;
}
    .focus button[disabled="disabled"]{
        cursor: default;
        background: #999;
    }
    #button_email{
        padding-top: 6px;
    }
        #button_email:before{
            content: url(../img/mail.png);
            position: relative;
            top: 3px;
            margin-right: 6px;
        }
    #button_call{
        display: none;
        padding-top: 6px;
        padding-bottom: 10px;
    }
        #button_call:before{
            content: url(../img/phone.png);
            position: relative;
            top: 3px;
            left: 1px;
            margin-right: 5px;
        }

.focus input[type="text"],
.focus input[type="tel"],
.focus input[type="email"]{
    margin-right: 8px;
    width: 157px;
}
.focus input[type="checkbox"]{
    position: relative;
    top: 3px;
    left: -7px;
}
.focus button{
    margin-left: 8px;
}

.organizing {
    margin-left: 6px;
    margin-top: 10px;
    clear: left;
    float: left;
}

.focus select {
    padding: 6px;
    font-size: 16px;
    width: 145px;
    height: 36px;
    background: transparent;
    display: inline-block;
    position: relative;
    cursor:pointer;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -moz-appearance: window;
    color: #9c9c9c;
    border: none;
    margin-top: 2px;
}

.focus .fauxselect {
    background: url(../img/select.png) no-repeat;
    width: 168px;
    height: 38px;
    float: left;
}
    .focus .fauxselect.error{
        background-image: url(../img/select-error.png);
    }
        .focus .fauxselect.error select{
            color: red;
        }

.focus p.disclosure {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    clear: both;
    text-align; center;
    margin: 0 auto;
    margin-top: -20px;
    padding-top: 20px;
}

.focus p.disclosure, .focus label {color: #434343;}

h2 {
    text-align: center;
    color: #000; /* text color */
    font-family: "Helvetica";
    font-size: 23px;
    font-weight: bold;
    margin: 50px auto auto auto;
	clear: both;
	display: block;
}

p.thoughtful {
    color: #666;
    font-family: "Palatino", "Times New Roman", serif;
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
}

.mapz {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border: 3px solid #fff; /* stroke */
    -moz-box-shadow: 0 3px 13px rgba(0,0,0,.5); /* drop shadow */
    -webkit-box-shadow: 0 3px 13px rgba(0,0,0,.5); /* drop shadow */
    box-shadow: 0 3px 13px rgba(0,0,0,.5); /* drop shadow */
}

h3 {
    background: url(../img/learnmore.png) no-repeat 0 17px;
    text-align: center;
    width: 958px;
    float: left;
    margin-left: -50px;
    font-family: "oleo script";
    color: #8c8c8c; /* text color */
    font-size: 22px;
    margin-top: 60px;;
    margin-bottom: 60px;
}
ul.flags {margin-top: 20px; margin-left: 30px;}
ul.flags li {
    display: inline-block;
    width: 200px;
    height: 30px;
    background: url(../img/flags.png) no-repeat;
    color: #000; /* text color */
    font-family: "Helvetica";
    font-size: 18px;
    padding-top: 100px;
    text-align: center;
}

ul.flags li.china {background-position: 27px 0;}
ul.flags li.russia {background-position: -158px 0;}
ul.flags li.syria {background-position: -346px 0;}
ul.flags li.iran {background-position: -532px 0;}

ul.linkage {
    margin-top: 100px;
    margin-bottom: 100px;
    clear: left;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.28); /* drop shadow */
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.28); /* drop shadow */
    box-shadow: 0 3px 7px rgba(0,0,0,.28); /* drop shadow */
    width: 400px;
    float: left;
}

body ul.alt {float: right; clear: none;}

ul.linkage li.main, ul.linkage li a {
    width: 400px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    display: block;

    text-align: center;

    
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: bold;
    
}

ul.linkage li.main, ul.linkage li.main:hover {
    background: #000;
    color: #ffd800; /* text color */

}

ul.linkage li a {
    color: #1a1a1a; /* text color */
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

ul.linkage li:hover {
    background: url(../img/linkage_hover.png) no-repeat center;
}

ul.linkage li a span {padding: 0 20px;}

ul.outside li a {
    display: block;
    text-indent: -9999px;
}

li a.wsj {background: url(../img/wsj.png) no-repeat center center;}
li a.nyt {background: url(../img/nyt.png) no-repeat center center;}
li a.lat {background: url(../img/lat.png) no-repeat center center;}
li a.wa {background: url(../img/wa.png) no-repeat center center;}
li a.ei {background: url(../img/ei.png) no-repeat center center;}
li a.th {background: url(../img/th.png) no-repeat center center;}
li a.bp {background: url(../img/bp.png) no-repeat center center;}


body #signupmodal-lightbox {
margin: -240px 0 0 -365px;
width: 600px;
height: 340px;
}


#signupmodal-lightbox p, #signupmodal-lightbox h3 {text-align: center;}
#signupmodal-lightbox h3 {font-size: 23px;}
#signupmodal-lighbox p, #signupmodal-lightbox li {font-size: 18px;}
#signupmodal-lightbox ol li {list-style-type: decimal; padding-left: 0px; margin-left: 20px; margin-top: 10px; font-size: 15px;}
#signupmodal-lightbox li.other a {text-indent: 0;}
#signupmodal-lightbox li.other a {width: 150px; margin-top: 5px;}
#signupmodal-lightbox ul li {float: left;}
#signupmodal-lightbox ul {margin-left: 100px;}

ol.todo {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.53); /* drop shadow */
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.53); /* drop shadow */
	box-shadow: 0 5px 10px rgba(0,0,0,.53); /* drop shadow */
	float: right;
	padding: 60px;
	width: 400px;
	margin-bottom: 40px;
	margin-top: 50px;
}
ol.todo li {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
	background: url(../img/ordered.png) no-repeat;
	background-position: 5px 7px;
	padding-left: 13px;
	padding-top: 2px;
	list-style: decimal inside;
	min-height: 32px;
	line-height: 2;
}

h2.moar {
	display: block;
	float: left;
	width: 300px;
	height: 93px;
	text-indent: -9999px;
	background: url(../img/moar.png) no-repeat;
	margin-top: 150px;
}

#languageselect {
	float: right;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
	color: #fff;
	text-align: right;
	font-size: 12px;
}

#tag{
width: 67px;
height: 228px;
position:fixed;
left: 0px;
z-index: 500;
margin-top: 200px;
background: url('http://internetdefenseleague.org/images/fftf_tag.png');
}

#cr_tag{
width: 64px;
height: 228px;
position:fixed;
left: 0px;
z-index: 500;
margin-top: 430px;
background: url('http://internetdefenseleague.org/images/cr_logo.png');
}

.modal{
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: none;
}
    .modal_content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 670px;
        height: 370px;
        background: #FFF;
        margin: -225px 0 0 -375px;
        padding: 40px;
    }
        .modal_content h2{
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            margin: 0 0 24px;
        }
        .modal_content h4{
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 4px;
        }
        .modal_content .soc{
            position: static;
            float: none;
            margin: 0;
        }
        .modal_content p{
            margin: 16px 0;
        }
        .modal_content .script{
            margin: 18px 0;
            background: #EEE;
            padding: 18px;
        }
            .modal_content .script p{
                margin: 0;
            }
    .modal .close{
        background: url('https://fftforg.heroku.com/images/ctu/confirm_close.png') no-repeat;
        width: 41px;
        height: 42px;
        display: block;
        text-indent: -999em;
        overflow: hidden;
        position: absolute;
        top: -16px;
        right: -16px;
    }

p.btw {clear: both; font-size: 12px; color: #666;}

p.two {margin-top: 100px; margin-bottom: 20px;}

ul.soc {clear: both; float: right; margin-top: -40px; margin-right: -12px;}
ul.soc li {display: inline;}
li.fb a, li.tw a, li.g a {
	display: inline-block;
	height: 29px; 
	width: 29px; 
	background: url(../img/share.png) no-repeat; 
	text-indent: -9999px;
	float: left;
	margin: 3px 5px 0 0;
}
#signupmodal-lightbox ul li.tw a, li.tw a {background-position: -33px 0;}
#signupmodal-lightbox ul li.g a, li.g a {background-position: -68px 0;}


img.teaser {
	margin-left: 130px;
}