{% comment %}
    Random strings for translation and possible later use.
{% endcomment %}

{% blocktrans %} Join the Internet Defense League{% endblocktrans %} 
{% blocktrans %} Start an Internet Defense League in your country!{% endblocktrans %} 
{% blocktrans %} Next IRC meeting:{% endblocktrans %} 
{% blocktrans %} Next meeting:{% endblocktrans %} 
{% blocktrans %} Plan an event.{% endblocktrans %} 
{% blocktrans %} Events near you{% endblocktrans %} 
{% blocktrans %} Share this video{% endblocktrans %} 
{% blocktrans %} Help translate this video{% endblocktrans %} 
{% blocktrans %} Learn more{% endblocktrans %} 
{% blocktrans %} Watch this video to learn more.{% endblocktrans %} 

{% blocktrans %}Thanks! Now check your email.

We've sent instructions on how to best make an impact in your country.

While you're waiting, share this page with everyone you know.{% endblocktrans %}