{% extends "base.html" %}

{% load i18n %}

{% comment %}Translators: Song Title{% endcomment %}
{% trans "Starálfur" as song_title %}

{% block title %}{{ song_title }}{% endblock title %}

{% block header %}
    <h1>{{ song_title }}</h1>
{% endblock header %}

{% block main %}

    {% comment %}Translators: First verse{% endcomment %}
    <p>{% blocktrans %}Blue night over the sky<br />Blue night over me<br />Disappearing out the window<br />With my hands<br />Hidden under my cheeks<br />I think about my day<br />Today and yesterday{% endblocktrans %}</p>

    {% comment %}Translators: Second verse{% endcomment %}
    <p>{% blocktrans %}I put on my blue pajamas<br />Go straight to bed<br />I caress the soft covers<br />Close my eyes<br />I hide my head under the sheets{% endblocktrans %}</p>

    {% comment %}Translators: third verse{% endcomment %}
    <p>{% blocktrans %}A little elf stares at me<br />Turns me in, but doesn't stir<br />From his place – himself<br />A staring elf{% endblocktrans %}</p>

    {% comment %}Translators: Fourth verse{% endcomment %}
    <p>{% blocktrans %}I open my eyes<br />The crusts come off<br />I stretch myself and check (If I haven't)<br />Once again and everything is okay<br />Still there is something missing<br />Like all the walls{% endblocktrans %}</p>

    {% comment %}Translators: Bridge to close{% endcomment %}
    <p>{% blocktrans %}(A little elf stares at me)<br />(Turns me in){% endblocktrans %}</p>

    {% comment %}Translators: Close{% endcomment %}
    <p>{% blocktrans %}From his place – himself<br />I am...{% endblocktrans %}</p>

    <figure>
        <iframe width="250" height="59" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F7693183&amp;show_artwork=false"></iframe>
    </figure>

{% endblock main %}
