{% load getattribute %}
{% load i18n %}
{% load static %}
{% load url from future %}

<!DOCTYPE html>
<html>
    <head>
		<script src="//cdn.optimizely.com/js/21249520.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=320" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        {% comment %}Translators: Page Title{% endcomment %}
        <title>{% trans "Stop the Internet Coup - don&#39;t give dictators power over the Net" %}</title>
        <link rel="icon" type="image/png" href="http://fightforthefuture.org/fav.png" />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" media="all" />
        <link rel="stylesheet" href="{% static 'css/all.css' %}" media="all" />
        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen" />
        <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print" />
		
        {% comment %}Translators: Social media sharing text: Title{% endcomment %}
		<meta property="og:title" content="{% trans "Stop the ITU's Internet Coup - Don't give dictators power over the Net" %} http://internetcoup.org/" />
        {% comment %}Translators: Social media sharing text: Description{% endcomment %}
		<meta property="og:description" content="{% trans "On December 3rd, the ITU could give a panel of governments and dictatorships absolute power over the global Internet. Help us stop them." %}" />
		<meta property="og:image" content="{% static 'img/fb-share.png' %}" />
		<meta property="og:url" content="http://www.internetcoup.org" />
		<meta property="og:type" content="article" />
		<meta property="fb:admins" content="678090273"/>
		
		
    </head>

    <body role="document">


	    <a id="cr_tag" href="http://www.thecenterforrights.org"  target="blank"></a>
		
	<form action="{% url 'set_language' %}" method="post" id="languageselect">
        <h4>{% trans "Change language" %}:</h4>
            {% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option {% if request.LANGUAGE_CODE == language.code %}selected="selected" {% endif %}value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
			<p class="disclosure"><a href="https://www.transifex.com/projects/p/internetcoup/">{% trans "Help Translate!" %}</a></p>
        </form>
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        <div class="socialize" style="position: fixed; height: 350px; margin-left: 10px; margin-top: 10px; z-index: 99;">
            <div id="fb-root"></div>
            <script>
                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if(d.getElementById(id)){
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <script type="text/javascript">
                var _sf_startpt=(new Date()).getTime()
            </script>
            <div id="shareitup" style="overflow: visible">
                <div class="fb-like" data-href="{{ DOMAIN }}{% url 'main' %}" data-send="true" data-layout="box_count" data-width="150" data-show-faces="true" style="margin-bottom: 5px;"></div>
                <br />
                {% comment %}Translators: Twitter share text{% endcomment %}
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.internetcoup.org" data-text="{% trans "Stop the #ITU's Internet Coup - Don't give dictators power over the Net" %}" data-related="fightfortheftr" style="float: left; clear: both;">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>


		<div >
        <div class="header">
            <div class="header_wrap">
                {% comment %}Translators: Header{% endcomment %}
                <h1>{% trans "On Dec 3: Stop the Internet Coup" %}</h1>
                <p>{% trans "Think of all the terrible things governments do to the Internet. The US destroyed Megaupload, Russia jailed activists over a YouTube video, and China monitors Internet users' every move-- even hacking activists outside its borders." %}</p>
                <p>{% trans "Now imagine if a panel of governments, giant corporations, and dictatorships had absolute power over the entire Internet, deciding in secret what you can see &amp; do online." %}</p>
                <p>{% trans "When the ITU meets December 3rd, they'll decide on this." %}<br />{% trans "Only a global outcry can stop it." %}</p>
                <div class="superfluous_globe"></div>
            </div>
        </div>

        <div class="focus">
            {% comment %}Translators: Email form introduction{% endcomment %}
            <p>{% blocktrans %}They're meeting right now. Contact your leaders! Tell them: "I don't trust the world's governments to run the global Internet. Don't give the ITU any more power."{% endblocktrans %}</p>
            <form action="https://nt.salsalabs.com/save" id="action" class="fftf">
                <input type="hidden" name="object" value="supporter"/>
                <input type="hidden" name="tag" value="dictatorshipday"/>
                <input type="hidden" name="tag" value="internetcoup" />
                <input type="hidden" name="ip" id="signup_ip" value="{{ request.META.REMOTE_ADDR }}" />
                <input type="hidden" name="user_agent" id="user_agent" value="{{ request.META.HTTP_USER_AGENT }}" />
                <input type="hidden" id="trigger" name="email_trigger_KEYS" value="7" />
                <input type="hidden" name="organization_KEY" value="501"/>
                <input type="hidden" name="redirect" value="http://www.internetcoup.org/thanks"> 
                <input id="id_email" type="email" name="Email" placeholder="Email" />
                <input id="id_phone" type="tel" name="Phone" placeholder="Phone" />
                <div class="fauxselect">
                    <select id="country" name="Country">
                        {% comment %}Translators: Default country selection text{% endcomment %}
                        <option {% if not session.country_code %} %}selected="selected" {% endif %}value="">{% trans "Select Country" %}</option>
                        {% for country in all_countries %}
                            {% with country.0 as country_code %}
                                <option value="{{ country.0 }}" data-response="{{ autoresponder_ids|getattribute:country_code }}" {% if country.0 == session.country_code %}selected="selected"{% endif %}>{{ country.1 }}</option>
                            {% endwith %}
                        {% endfor %}
                    </select>
                </div>
                {% comment %}Translators: Email button text{% endcomment %}
                <button type="submit" class="bebas btn" id="button_email">{% trans "Email Them" %}</button>
                <button type="submit" class="bebas btn" id="button_call">{% trans "Call Them" %}</button>
            </form>
            <p class="disclosure">
                {% comment %}Translators: Email address usage disclosure{% endcomment %}
                {% trans "Fight for the Future and Center for Rights (our 501c3)  may contact you about related campaigns." %} 
                {% comment %}Translators: Privacy policy link text{% endcomment %}
                <a href="http://fightforthefuture.org/privacy">{% trans "privacy policy" %}</a></p>
        </div>



		<h2>
            {% comment %}Translators: Suggestion to join a local action{% endcomment %}
            

<div class="wrap">
	<h2>On December 3rd, put this on your website.  <a href="http://internetdefenseleague.org">Join the IDL now!</a></h2>
<a href="http://internetdefenseleague.org"><img src="{% static 'img/widget-ss.png' %}" class="teaser" alt="Get this widget" /></a>
</div>


		<div class="wrap">
			
			<h2 class="moar">{% trans "More ways to help" %}</h2>
			
			<ol class="todo">

    			<li>&nbsp;&nbsp;&nbsp;{% trans "Share this page on" %}: <a href='http://facebook.com/sharer/sharer.php?u=http%3A%2F%2Finternetcoup.org'>Facebook</a> / <a href="http://twitter.com/share?original_referer=http%3A%2F%2Fwww.internetcoup.org&source=tweetbutton&text=Stop%20the%20%23ITU's%20Internet%20Coup%20-%20Don't%20give%20dictators%20power%20over%20the%20Net">Twitter</a> / <a href='https://plus.google.com/share?url=https://www.internetcoup.org/'>Google+</a> / <a href="http://www.reddit.com/r/technology/comments/13l6sm/in_10_days_the_itu_could_give_a_panel_of/)">Reddit</a></li>

                <li>&nbsp;&nbsp;&nbsp;<a href="https://docs.google.com/spreadsheet/viewform?formkey=dDl5NWxTWmhXcjVKbHJpc0VjVFcyNHc6MQ">{% trans "Plan an event in your country" %}</a></li>

    			<li>&nbsp;&nbsp;&nbsp;{% trans "Join the <a href='http://internetdefenseleague.org'>Internet Defense League" %}</a></li>

    			<li>&nbsp;&nbsp;&nbsp;<a href='https://www.transifex.com/projects/p/internetcoup/'>{% trans "Translate this page" %}</a></li>

    			<li>&nbsp;&nbsp;&nbsp;<a href="http://www.universalsubtitles.org/en/videos/YAfuLWFp5zS4/info/how-the-itu-could-put-the-internet-behind-closed-doors/">{% trans "Translate the video" %}</a></li>

			</ol>
			
		</div>

        <div class="wrap">
            <!-- {% comment %}Translators: Appeal to attend an event{% endcomment %}
                        <p class="thoughtful">{% blocktrans %}People all over the world are taking action to stop the ITU. Take action in your country and join a network already set up to do just this. (The Internet Defense League country chapters have organized these actions, join us in your country.) If you don&#39;t see an action, get started here:{% endblocktrans %}</p>
                        <h3>{% trans "Learn More" %}</h3> -->
            <!-- {% comment %}Translators: Header to a list of countries involved with the ITU{% endcomment %}
            <h2>{% trans "Who are we talking about?" %}</h2>
            <ul class="flags">
                <li class="china">{% trans "China" %}</li>
                <li class="russia">{% trans "Russia" %}</li>
                <li class="syria">{% trans "Syria" %}</li>
                <li class="iran">{% trans "Iran" %}</li>
            </ul> -->
            <h2>{% trans "What is the ITU?" %}</h2>
            <script type="text/javascript" src="//s3.amazonaws.com/s3.www.universalsubtitles.org/embed.js">
                (
                    {
                        'video_url': "http://www.youtube.com/watch?v=XzNQarkk95Q",
                        'video_config': {
                            'width': 854,
                            'height': 465
                        }
                    }
                )
            </script>
			<ul class="soc">
				<li class="fb"><a href="http://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwhatistheitu.org">Share on Facebook</a></li>
				<li class="tw"><a href="http://twitter.com/share?original_referer=https%3A%2F%2Fwww.whatistheitu.org&source=tweetbutton&text=What%20is%20the%20%23ITU%3F%20What%20does%20it%20mean%20for%20the%20future%20of%20the%20Internet%3F&hashtags=WCIT,ITUVideo">Share on Twitter</a></li>
				<li class="g"><a  href="https://plus.google.com/share?url=https://www.whatistheitu.org/" onclick="javascript:window.open(this.href,
				'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Share on Google+</a></li>
			</ul>
					
					
			<p style="float: left; clear: left;">{% blocktrans %}
                {{ var2 }}
            {% endblocktrans %}</p>
			
			

			
			
			
            <ul class="linkage outside">
                <li class="main">{% trans "Further Reading" %}</li>
                <li><a href="http://allafrica.com/stories/201210030354.html?page=2" class="wa" target="_blank">{% trans "WallAfrica" %}</a></li>
                <li><a href="http://www.bangkokpost.com/business/economics/318263/government-slammed-over-internet-treaty" class="bp"  target="_blank">{% trans "Bangkok Post" %}</a></li>
                <li><a href="http://www.nytimes.com/2012/05/25/opinion/keep-the-internet-open.html?_r=0 " class="nyt" target="_blank">{% trans "The New York Times" %}</a></li>
                <li><a href="http://www.euroispa.org/news/72-internet-governance-revision-the-itrs" class="ei" target="_blank">{% trans "EuroISPA" %}</a></li>
                <li><a href="http://online.wsj.com/article/SB10001424052970204792404577229074023195322.html?mod=googlenews_wsj" class="wsj" target="_blank">{% trans "The Wall Street Journal" %}</a></li>
                <li><a href="http://www.thehindu.com/news/national/excessive-surveillance-content-blocking-key-concerns-before-un-meet-on-net-regulation/article4019808.ece" class="th" target="_blank">{% trans "The Hindu" %}</a></li>      
                <li><a href="http://www.latimes.com/news/opinion/editorials/la-ed-internet-un-itu-20120722,0,335845.story " class="lat" target="_blank">{% trans "Los Angeles Times" %}</a></li>
            </ul>
            <ul class="linkage alt">
                <li class="main">{% trans "Further Resources" %}</li>
                <li><a target="_blank" href="https://www.accessnow.org/pages/itu">{% trans "Access ITU Resource Center" %}</a></li>
                <li><a target="_blank" href="http://www.protectinternetfreedom.net/">{% trans "Statement to Protect Global Internet Freedom" %}</a></li>

                <li><a target="_blank" href="https://www.cdt.org/issue/ITU "><span>{% trans "Center for Democracy and Technology ITU Resource Center" %}</span></a></li>
                <li><a target="_blank" href="http://wcitleaks.org">{% trans "WCITLeaks" %}</a></li>
                <li><a target="_blank" href="http://www.internetsociety.org/wcit ">{% trans "Internet Society (ISOC) WCIT page" %}</a></li>
            </ul>
			

			<p class="btw two">{% blocktrans %}A project of <a href="http://www.thecenterforrights.org/">Center for Rights</a>. No copyright intended.{% endblocktrans %}</p>
        </div>


        <div class="modal" id="email_modal">
            <div class="modal_content">
                <h2>{% trans "Thanks! Now check your email." %}</h2>
                <p>{% trans "We've sent instructions on how to best make an impact in your country." %}</p>
                <div class="social">
                    <h4>{% trans "Now, spread the word!" %}</h4>
                    <ul class="soc">
                        <li class="fb"><a href="http://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.internetcoup.org/{{ request.LANGUAGE_CODE }}" target="_blank">Share on Facebook</a></li>
                        <li class="tw"><a href="http://twitter.com/share?text=The%20ITU%20is%20an%20obscure%20UN%20agency%20that's%20trying%20to%20stage%20an%20internet%20coup!%20Learn%20more%20and%20take%20action%20at%20http%3A%2F%2Fwww.internetcoup.org/{{ request.LANGUAGE_CODE }}" target="_blank">Share on Twitter</a></li>
                        <li class="g"><a  href="https://plus.google.com/share?url=http://www.internetcoup.org/{{ request.LANGUAGE_CODE }}" target="_blank">Share on Google+</a></li>
                    </ul>
                </div>
                <a class="close" href="#">Close</a>

            </div>
        </div>


        <div class="modal" id="call_modal">
            <div class="modal_content">
                <h2>{% trans "Connecting you with your representative now." %}</h2>
                <p>{% trans "Grab your phone, it will ring momentarily." %} {% trans "We'll be connecting you to a real person. Be polite!" %} {% trans "If you're not sure what to say, here's our suggestion:" %}</p>
                <div class="script">
                    <p>{% trans "Hello, I'm calling about the upcoming meetings regarding the International Telecommunication Union. Please do everything you can to make the process open and transparent. And please don't take any action that would give the ITU more power over Internet governance." %}</p>
                </div>
                <p>{% trans "How did the call go?" %} <a href="mailto:team+itu@fightforthefuture.org">{% trans "We'd love to hear about it." %}</a> </p>
                <div class="social">
                    <h4>{% trans "After you call, spread the word!" %}</h4>
                    <ul class="soc">
                        <li class="fb"><a href="http://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.internetcoup.org/{{ request.LANGUAGE_CODE }}" target="_blank">Share on Facebook</a></li>
                        <li class="tw"><a href="http://twitter.com/share?text=The%20ITU%20is%20an%20obscure%20UN%20agency%20that's%20trying%20to%20stage%20an%20internet%20coup!%20Learn%20more%20and%20take%20action%20at%20http%3A%2F%2Fwww.internetcoup.org/{{ request.LANGUAGE_CODE }}" target="_blank">Share on Twitter</a></li>
                        <li class="g"><a  href="https://plus.google.com/share?url=http://www.internetcoup.org/{{ request.LANGUAGE_CODE }}" target="_blank">Share on Google+</a></li>
                    </ul>
                </div>
                <a class="close" href="#">Close</a>

            </div>
        </div>


        <div class="modal" id="no_country_modal">
            <div class="modal_content">
                <h2>{% trans "Uh oh!" %}</h2>
                <p>{% trans "We could not detect your country, so the form was not submitted." %} {% trans "Please fill it out again. including your country this time." %} {% trans "Thanks!" %}</p>
                <a class="close" href="#">Close</a>
            </div>
        </div>

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="//s3.amazonaws.com/fftf.media/img/placeholder.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script>
            window.CALL_TOOL_URL = '{% url 'calltool' %}';
        </script>
		<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26576645-14']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
		</script>

        {% comment %}
            <div style="clear: left;">

                <h2>Change language:</h2>

                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="/" />
                    <select name="language">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option {% if request.LANGUAGE_CODE|upper == language.code|upper %}selected="selected" {% endif %}value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go" />
                </form>

            </div>
        {% endcomment %}

        <p style="display: none;">{{ session.country_code }}</p>

        <script type="text/javascript">showmodal = false</script>
        <script src="http://fightforthefuture.org/js/history.js"></script>
    </body>

</html>