{% load i18n %}
{% load static %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<title>How the ITU could put the Internet behind closed doors.</title>
<link rel="stylesheet" href="https://fftforg.heroku.com//css/ctu.css">
<link rel="stylesheet" href="{% static 'css/reset.css' %}" media="all" />
<link rel="stylesheet" href="{% static 'css/all.css' %}" media="all" />
<link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen" />
<link rel="stylesheet" href="{% static 'css/print.css' %}" media="print" />


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<meta property="og:title" content="Stop the ITU's Internet Coup - Don't give dictators power over the Net http://internetcoup.org/" />
	<meta property="og:description" content="On December 3rd, the ITU could give a panel of governments and dictatorships absolute power over the global Internet. Help us stop them." />
	<meta property="og:image" content="" />
	<meta property="og:url" content="http://www.internetcoup.org" />
	<meta property="og:type" content="article" />
	<meta property="fb:admins" content="678090273"/>
</head>
<body>

	<div id="signupmodal-lightbox">
		<h2>Thanks! Now check your email.</h2>
 
		<p>We&apos;ve sent instructions on how to best make an impact in your country.</p>
		<p>While you&apos;re waiting, share this page with everyone you know.</p>
		<center>
			<br />
			<a href="http://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwhatistheitu.org"><img src="https://freebieber.heroku.com/img/buttons/wide_fb.png" alt="Share on Facebook"></a>
			<a href="http://twitter.com/share?original_referer=http%3A%2F%2Fwww.whatistheitu.org&source=tweetbutton&text=What%20is%20the%20%23ITU%3F%20What%20does%20it%20mean%20for%20the%20future%20of%20the%20Internet%3F&hashtags=WCIT,ITUVideo"><img src="https://freebieber.heroku.com/img/buttons/wide_tw.png" alt="Share on Twitter" style="margin-left: 30px;"></a>
			<br /><br />			<br />

		
	</center>
	<p id="close">Close</p>
	</div><!-- close #signupmodal-lightbox -->

	<div id="signupmodal-container">
	</div><!-- close #signupmodal-container -->
	<iframe src="http://www.internetcoup.org" style="position: absolute; height: 100%; width: 100%;"></iframe>

		<script src="https://fftforg.heroku.com/js/jquery-1.4.2.min.js"></script>
      <script src="https://fftforg.heroku.com/js/ctu.js"></script>  

	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26576645-12']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26576645-14']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</body>
</html>


